
<div id="page">
	<div id="content">
		<div class="post">
			<h2 class="title"><%= link_to "Admin Page", admin_index_path %></h2>
			<div class="entry">
				<ul>
					<li><%= link_to "View Spam Reports" %></li>
					<li><%= link_to "View Spam Comments" %></li>
					<li><%= link_to "View All Users", admin_viewAllUsers_path %></li>
				</ul>	
			</div>
		</div>
	</div>
	<!-- end #content -->

</div>

