<div id="page">
	<div id="content">
		<div class="post">
			<h2 class="title"><%= link_to "Users", admin_viewAllUsers_path %></h2>
			<div class="entry">
				<br><br>
				<div id="all_users"><%= render "view_all_users" %></div>
			</div>
		</div>
	</div>
	<!-- end #content -->

</div>

