
<div id="footer-content-wrapper">
	<div id="footer-content">
		<div id="fbox1">
			<h2>Top Posts</h2>
			
		</div>
		<div id="fbox2">
			<h2>Top Users</h2>
			<ul class="style1">
				<li class="first"><a href="#"> Dili Ikaw </a></li>
				<li><a href="#"> Masdili Ikaw </a></li>
				<li><a href="#"> Di jud ni Ikaw </a></li>
			</ul>
		</div>
		<div id="fbox3">
			<h2>Latest Comments</h2>
			<ul class="style1">
				<li class="first"><a href="#"> Choop Choop </a></li>
				<li><a href="#"> Lami ra </a></li>
				<li><a href="#"> Omnomnomnom </a></li>
			</ul>
		</div>
	</div>
</div>

<div id="footer">
	<p>Copyright (c) 2012 pakals.com. Not all rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>. Edited by PAU :P</p>
</div> 