<div id="page">
	<div id="content">
		<div class="post">
			<h2 class="title"><%= link_to "Latest Posts", pages_latest_path%></h2>
			<div class="entry">
				<br/><br/>
				<div id="latest"><%= render "latest_posts" %></div>
			</div>
		</div>
	</div>
</div>