	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><%= link_to "Popular Posts", pages_popular_path%></h2>		
				<div class="entry">
				<br/><br/>
				<% @posts.each do |post| %>
					<% if post.flaggings.with_flag(:like).exists? %>
						<h3><%= link_to post.title, post%></h3>			
						<p><%=h truncate(post.body, :length => 80) %></p>				
						<p><%= post.flaggings.with_flag(:like).count %> likes</p>
						<hr />
					<% end %>
				<% end %>
				</div>
			</div>
		</div>
		<!-- end #content -->
	</div>