	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">List of Towns and Municipalities in Cebu</a></h2>
				<div class="entry">
					<% @ss = ["Borbon", "sabaw2"];%>
					<li><a href="/posts/town_posts/Alcantara">Alcantara</a></li>
					<li><a href="/posts/town_posts/Alcoy">Alcoy</a></li>
					<li><a href="/posts/town_posts/Alegria">Alegria</a></li>
					<li><a href="/posts/town_posts/Aloguinsan">Aloguinsan</a></li>
					<li><a href="/posts/town_posts/Argao">Argao</a></li>
					<li><a href="/posts/town_posts/Asturias">Asturias</a></li>
					<li><a href="/posts/town_posts/Badian">Badian</a></li>
					<li><a href="/posts/town_posts/Balamban">Balamban</a></li>
					<li><a href="/posts/town_posts/Bantayan">Bantayan</a></li>
					<li><a href="/posts/town_posts/Barili">Barili</a></li>
					<li><a href="/posts/town_posts/Bogo">Bogo</a></li>
					<li><a href="/posts/town_posts/Boljoon">Boljoon</a></li>					
					<li><a href="/posts/town_posts/Borbon/">Borbon</a></li>
					<li><a href="/posts/town_posts/Carcar">Carcar</a></li>
					<li><a href="/posts/town_posts/Carmen">Carmen</a></li>
					<li><a href="/posts/town_posts/Catmon">Catmon</a></li>
					<li><a href="/posts/town_posts/Cebu City">Cebu City</a></li>
					<li><a href="/posts/town_posts/Compostela">Compostela</a></li>
					<li><a href="/posts/town_posts/Consolacion">Consolacion</a></li>
					<li><a href="/posts/town_posts/Cordova">Cordova</a></li>
					<li><a href="/posts/town_posts/Daanbantayan">Daanbantayan</a></li>
					<li><a href="/posts/town_posts/Dalaguete">Dalaguete</a></li>
					<li><a href="/posts/town_posts/Danao City">Danao City</a></li>
					<li><a href="/posts/town_posts/Dumanjug">Dumanjug</a></li>
					<li><a href="/posts/town_posts/Ginatilan">Ginatilan</a></li>
					<li><a href="/posts/town_posts/Lapu-Lapu- City">Lapu-Lapu City</a></li>
					<li><a href="/posts/town_posts/Liloan">Liloan</a></li>
					<li><a href="/posts/town_posts/Madridejos">Madridejos</a></li>
					<li><a href="/posts/town_posts/Malabuyoc">Malabuyoc</a></li>
					<li><a href="/posts/town_posts/Mandaue">Mandaue City</a></li>
					<li><a href="/posts/town_posts/Medellin">Medellin</a></li>
					<li><a href="/posts/town_posts/Minglanilla">Minglanilla</a></li>
					<li><a href="/posts/town_posts/Moalboal">Moalboal</a></li>
					<li><a href="/posts/town_posts/Naga">Naga</a></li>
					<li><a href="/posts/town_posts/Oslob">Oslob</a></li>
					<li><a href="/posts/town_posts/Pilar">Pilar</a></li>
					<li><a href="/posts/town_posts/Pinamungahan">Pinamungahan</a></li>
					<li><a href="/posts/town_posts/Poro">Poro</a></li>
					<li><a href="/posts/town_posts/Ronda">Ronda</a></li>
					<li><a href="/posts/town_posts/Samboan">Samboan</a></li>
					<li><a href="/posts/town_posts/San Fernando">San Fernando</a></li>
					<li><a href="/posts/town_posts/San Francisico">San Francisco</a></li>
					<li><a href="/posts/town_posts/San Remigio">San Remigio</a></li>
					<li><a href="/posts/town_posts/Santa Fe">Santa Fe</a></li>
					<li><a href="/posts/town_posts/Santander">Santander</a></li>
					<li><a href="/posts/town_posts/Sibonga">Sibonga</a></li>
					<li><a href="/posts/town_posts/Sogod">Sogod</a></li>
					<li><a href="/posts/town_posts/Tabogon">Tabogon</a></li>
					<li><a href="/posts/town_posts/Tabuelan">Tabuelan</a></li>
					<li><a href="/posts/town_posts/Talisay City">Talisay City</a></li>
					<li><a href="/posts/town_posts/Toledo City">Toledo City</a></li>
					<li><a href="/posts/town_posts/Tuburan">Tuburan</a></li>
					<li><a href="/posts/town_posts/Tudela">Tudela</a></li>
				</div>
			</div>
		</div>
		<!-- end #content -->
		
	</div>