<div id="page">
	<div id="content">
		<div class="post">
			<h2 class="title"><%= link_to "Delicacies", posts_path %></h2>
			<div class="entry">
			<br/><br/>			
			<div id="index_posts"><%= render "posts" %></div>
			</div>
		</div>
	</div>
	<!-- end #content -->	
</div>